<h1>STUPID COACH...</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p>
 -->
<form action="/answer">
  <input type="text" name="question_input" placeholder="ask coach anything...">
  <input type="submit" value="Hit Me!">
</form>
